.app-container {
  margin: 0 auto;
  max-width: 768px;
}

.navbar-brand {
  .icon {
    margin-right: rem(5);

    &__svg {
      fill: $light;
    }
  }
}

.modal {
  display: flex;

  .message {
    margin: 0 1rem;
  }

  .buttons {
    margin-top: 1.5rem;

    .button {
      flex: 1;
    }
  }
}

.icon {
  svg {
    display: inline-block;
    line-height: 1;
    width: 1em;
    height: 1em;
    fill: $dark;
  }
}
