.navbar-brand {
  .icon {
    margin-right: rem(5);
  }
}

.modal {
  display: flex;

  .message {
    margin: 0 1rem;
  }

  .buttons {
    margin-top: 1.5rem;

    .button {
      flex: 1;
    }
  }
}
