.categories {
  .radio {
    display: block;
    margin: 0 0 rem(6) 0;
    padding: rem(3) 0;
  }

  input[type="radio"] {
    margin-right: rem(4);
  }
}

.input-currency {
  .select {
    width: calc(100% - 36px - 0.5rem);
    margin-right: 0.5rem;
  }
}
